@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";


@media #{$media_lg} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_header .post_price {
		@include font(2em, 1.5em);
	}
	.post_layout_excerpt.sticky {
		padding: 3em 3.3em 3.4em 3.3em;
	}
	.post_layout_excerpt + .post_layout_excerpt {
		margin-top: 4.4rem;
		padding-top: 4.4rem;
	}
	.post_layout_excerpt + .post_layout_excerpt.sticky {
		margin-top: 8.8rem;
	}
	.post_layout_excerpt + .post_layout_excerpt.sticky:before {
		top: -4.4rem;
	}
	.post_layout_excerpt.sticky + .sticky {
		margin-top: 8.8rem;
	}
	.post_layout_excerpt.sticky + .sticky:before {
		top: -4.4rem;
	}
	.post_layout_excerpt .post_featured {
		margin-bottom: 3em;
	}
	.blog_style_excerpt .pagination {
		margin-top: 4.4rem;
		padding-top: 1em;
	}
}


@media #{$media_md} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_title + .post_meta {
		margin-top: 1.5em;
	}
	.post_layout_excerpt .post_header + .post_content {
		margin-top: 2em;
	}
	.post_layout_excerpt .post_header .post_price {
		@include font(1.75em, 1.5em);
	}
}


@media #{$media_sm} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt + .post_layout_excerpt {
		margin-top: 3rem;
		padding-top: 3rem;
	}
	.post_layout_excerpt.sticky + .sticky {
		margin-top: 6rem;
	}
	.post_layout_excerpt.sticky + .sticky:before {
		top: -3rem;
	}
	.post_layout_excerpt + .post_layout_excerpt.sticky {
		margin-top: 6rem;
	}
	.post_layout_excerpt + .post_layout_excerpt.sticky:before {
		top: -3rem;
	}
	.post_layout_excerpt .post_header .post_price {
		position:static;
		right: auto;
		top: auto;
		margin-top:0.3em;
	}
	.post_layout_excerpt .post_title + .post_meta {
		margin-top: 1em;
	}
	.post_layout_excerpt .post_header + .post_content {
		margin-top: 1.5em;
	}
	.post_layout_excerpt blockquote {
		padding: 2em 2em 2em 4em;
		margin-left: 0;
		margin-right: 0;
	}
	.post_layout_excerpt blockquote:before {
		top: 1em !important;
		left: 1em;
	}
	.post_layout_excerpt .post_title {
		font-size: 2.7rem;
	}
	.post_layout_excerpt.sticky {
		padding: 2em 2.3em;
	}
	.blog_style_excerpt .pagination {
		margin-top: 3rem;
		padding-top: 2rem;
		.nav-links {
			margin-top: 0;
		}
	}
	.post_layout_excerpt.post_format_quote .post_content + .post_header {
		margin-top: 2em;
	}
	.post_layout_excerpt.post_format_audio .post_featured {
		margin-bottom: 2em;
	}
}

@media #{$media_xs} {
	.post_layout_excerpt.sticky {
		padding: 1.5em;
	}
	.post_layout_excerpt .post_featured {
		margin-bottom: 2em;
	}
	.post_layout_excerpt .post_title {
		font-size: 2.4rem;
	}
}
